ul.menu {
    list-style:none;
    margin: 0;
    padding: 0;
    background: e8e7df;
    opacity: 0.5;
    overflow: hidden;
    width: 100%;
    }
li.menu {
    float: left;
    width: 25%;
    }
a.menu {
    text-decoration:none;
    display:block;
    padding: 36;
    background: pink;
    color: purple;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    height: 28;
    }
a.menu:hover {
    background: rgb(170, 108, 170);
    }
.banner {
    background-image: url('images/Skrat.png');
    width: 100%;
    height: 160px;
}
.counter {
    font-size: 80px;
    color: green;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.rfont {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#background {
    background-color: rgb(63, 11, 63);
}